.text-center {
  width: 100%;
}

.form-group {
  width: 95%;
}

.input-group {
  width: 99% !important;
}

.form-control {
  width: 100% !important;
}

a {
  color: #343a40;
}

a:hover {
  color: #173798;
  text-decoration: none;
}

.formLabel {
  font-weight: bold;
}

.certificateLink {
  color: cornflowerblue;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: #444444;
  text-align: center;
}

footer a {
  color: black;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

#logo {
  position: absolute;
  top: 0;
}

#icon {
  width: 32px;
  height: 32px;
}

#topBar {
  display: block;
  height: 64px;
  position: relative;
  width: 100%;
}